{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'task_manager/style.css' %}">

<br>
{% if task %}
	<table>
	<table border="1" width="800">
    <tr>
		<th></th>
        <th>Task Name</th>
		<th>Description</th>
		<th>Task ID</th>
		<th>State</th>
		<th>Employee ID</th>
		<th>Time of Task Creation</th>
		<th>Time of Task Completion</th>
    </tr>
    {% for line in task %}
    <tr> 
		<th>Original</th>
		{% for item in line %}
        <td>{{ item|default_if_none:"<b>None</b>"  }}</td>
		{% endfor %}
	</tr>
	<tr>
		<form action="modify" method="post">
		<th>Edit</th>
		<td><input type="text" id="taskName" name="taskName" placeholder="Task Name"></td>
		<td><input type="text" id="description" name="description" placeholder="description"></td>
		<td>{{ line.2 }}</td>
		<td>
			<select id="state" name="state">
			<option value="Incomplete">Incomplete</option>
			<option value="In Progress">In Progress</option>
			<option value="Complete">Complete</option>
			</select>
		</td>
		<td><input type="text" id="employeeID" name="employeeID" value={{ line.4 }} size="7"></td>
		<td><input type="text" id="timeCreated" name="timeCreated" placeholder="YYYY-MM-DD hh:mm:ss" size="21"></td>
		<td><input type="text" id="timeCompleted" name="timeCompleted" placeholder="YYYY-MM-DD hh:mm:ss" size="21"></td>
		<input hidden id="taskID" name="taskID" value={{ line.2 }}>
    </tr>
    {% endfor %}
	
	</table>
	<br>
	<input style="width: 20em;  height: 4em;" type="submit" value="Update Task">
	</form>
	<br>
	<br>
	<form action="delete" method="POST">
	<input hidden id="taskID" name="taskID" value={{ task.0.2 }}>
	<input style="width: 20em;  height: 4em;" type="submit" value="Delete Task" onclick="return confirm('Are you sure you want to delete this task?')">
	</form>
{% else %}
    <p>Error Loading Task to Edit</p>
{% endif %}
<form action="/task_manager">
<input style="width: 20em;  height: 4em;" type="submit" value="Back to Task List">
</form>