<!-- Written by: Andrew Saengtawesin and Kimberly Chang
    Tested by: Andrew Saengtawesin and Kimberly Chang
    Debugged by: Andrew Saengtawesin and Kimberly Chang -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'task_manager/style.css' %}">

{% if old and new %}
<span style="font-size:30px; font-weight:900">
Modified Task:
<span>
	<table>
	<table border="1" width="800">
    <tr>
		<th></th>
        <th>Task Name</th>
		<th>Description</th>
		<th>Task ID</th>
		<th>State</th>
		<th>Employee ID</th>
		<th>Time of Task Creation</th>
		<th>Time of Task Completion</th>
    </tr>
    {% for line in old %}
    <tr> 
		<th>Old</th>
		{% for item in line %}
        <td>{{ item|default_if_none:"<b>None</b>"  }}</td>
		{% endfor %}
	</tr>
    {% endfor %}
	{% for line in new %}
    <tr> 
		<th>New</th>
		{% for item in line %}
        <td>{{ item|default_if_none:"<b>None</b>"  }}</td>
		{% endfor %}
	</tr>
    {% endfor %}
	</table>
{% else %}
    <p>Error in Modifying Task</p>
{% endif %}
<br>
<form action="/task_manager">
<input style="width: 20em;  height: 4em;" type="submit" value="Back to Task List">
</form>