{% load static%}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'Login/style.css' %}">
	<title>AUTOMATED SUPERMARKET</title>
</head>
<body>
	{% block content %}
		<h1 align="center">AUTOMATED SUPERMARKET</h1>
		<h2 align="center">Welcome to Homepage</h2>
		{%if user.is_authenticated %})
			<a href="{% url 'logout'%}">Logout</a>
			{% else %}
			<ul class="list" align="center">
				<li><a href="{% url 'task_board'%}">Test</a></li>
		    </ul>
			<form action="cust_login">
			<input class="button" style="width: 20em;  height: 4em;" type="submit" value="Customer Login">
			</form>
			<br>
			<form action="emp_login">
			<input class="button" style="width: 20em;  height: 4em;" type="submit" value="Employee Login">
			</form>
		{% endif %}

	{% endblock %}
</body>
</html>