<!-- Written by: Andrew Saengtawesin and Kimberly Chang
    Tested by: Andrew Saengtawesin and Kimberly Chang
    Debugged by: Andrew Saengtawesin and Kimberly Chang -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>

<title>Customer Dashboard</title>

<body>

<div class="logo">
<a href="/">
<img src="{% static "task_board/shopping-cart-red_bg.png" %}" width="100" height="100" alt="logo">
</a>
</div>

<div><h1>
Automated Supermarket: Customer Dashboard
</h1></div>

{% if loggedIn %}

<div class="item">
<center>
<h2>
Welcome, {{ user }}!
</h2>
</center>
</div>

<div class="item">
<center>
<form action="shopping_list" method="get">
<input type="submit" class="button big" value="View Shopping List"/>
</form>
</center>
</div>

<div class="item">
<center>
<form action="loggedout" method="get">
<input type="submit" class="button big" value="Log Out"/>
</form>
</center>
</div>

{% else %}
<p>You are not logged into a Customer account.</p>
{% endif %}

</body>