<!-- Written by: Andrew Saengtawesin and Kimberly Chang
    Tested by: Andrew Saengtawesin and Kimberly Chang
    Debugged by: Andrew Saengtawesin and Kimberly Chang -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>

<title>Automated Supermarket</title>

<body>

<div class="logo">
<a href="/login/">
<img src="{% static "task_board/shopping-cart-red_bg.png" %}" width="100" height="100" alt="logo">
</a>
</div>

<div><h1>
Automated Supermarket Manager Homepage
</h1></div>

{{ user|default_if_none:"<b>None</b>" }}

</body>