<!-- Written by: Andrew Saengtawesin and Kimberly Chang
    Tested by: Andrew Saengtawesin and Kimberly Chang
    Debugged by: Andrew Saengtawesin and Kimberly Chang -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'analytics/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>

<title>Analytics</title>

<body>

<div class="logo">
<a href="/analytics/">
<img src="{% static "task_board/shopping-cart-red_bg.png" %}" width="100" height="100" alt="logo">
</a>
</div>

<div><h1>
Automated Supermarket
</h1></div>

<div class="item">
<center>
<form action="view_latest_hours" method="get">
<input type="submit" class="button big" value="View Employee Hours for Latest Month"/>
</form>
</center>
</div>

<div class="item">
<center>
<form action="view_hours" method="get">
<input type="submit" class="button big" value="View All Employee Hours"/>
</form>
</center>
</div>

<div class="item">
<center>
<form action="view_cat_sales" method="get">
<input type="submit" class="button big" value="View Sales by Category">
</form>
</center>
</div>

<div class="item">
<center>
<form action="view_month_sales" method="get">
<input type="submit" class="button big" value="View Sales by Month">
</form>
</center>
</div>

</body>